
<div class="container search-form">
  <h1>メニュー検索</h1>
  <%= search_form_for @q, url: menus_path do |f| %>
    <div class="search-fields">
      <%= f.label :title_cont, 'メニュー名' %>
      <%= f.search_field :title_cont, placeholder: 'タイトルを入力' %>
      <%= f.label :difficulty_level_step_cont, 'レベル' %>
      <%= f.search_field :difficulty_level_step_cont, placeholder: 'レベルを入力' %>
      <%= f.submit '検索', class: 'btn btn-primary mt-0' %>
    </div>
  <%end%>

  <div class="row">
    <% @menus.each do |menu| %>
      <div class="col-md-4 mb-4">
        <div class="card">
          <div class="card-header">
            <%= menu.title %>
          </div>
          <% if menu.video.attached? %>
            <video width="100%" controls>
              <source src="<%= url_for(menu.video) %>" type="video/mp4">
            </video>
          <% end %>
          <div class="card-body">
            <h5 class="card-title">難易度: <%= menu.difficulty_level.step %></h5>
            <p class="card-text">
              <% menu.labels.each do |label| %>
                <span class="badge badge-secondary"><%= label.name %></span>
              <% end %>
            </p>
            <%= link_to '詳細', menu_path(menu.id), class: 'btn btn-primary' %>
            <% if user_signed_in? && @favorites[menu.id].present? %>
              <%= link_to 'お気に入り解除', favorite_path(@favorites[menu.id]), method: :delete, class: 'btn btn-danger favorite-button' %>
            <% elsif user_signed_in? %>
              <%= link_to 'お気に入り', favorites_path(menu_id: menu.id), method: :post, class: 'btn btn-primary favorite-button' %>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>



<%= javascript_pack_tag 'menu/index' %>