
<div class="container">
    <h1>メニュー検索</h1>
    <%= search_form_for @q, url: menus_path do |f| %>
        <%= f.label :title_cont, 'メニュー名' %>
        <%= f.search_field :title_cont %>
        <%= f.label :difficulty_level_step_cont, 'レベル' %>
        <%= f.search_field :difficulty_level_step_cont %>
        <br>
        <%= f.submit '検索', class: 'btn btn-primary mt-3' %>
    <% end %>

    <h1 class="mt-5 mb-5">メニュー一覧</h1>
    <table class="table table-striped mt-5">
        <thead class="thead-dark">
            <tr>
                <th scope="col">タイトル</th>
                <th scope="col">ビデオ</th>
                <th scope="col">難易度</th>
                <th scope="col">詳細</th>
            </tr>
        </thead>
        <tbody>
        <% @menus.each do |menu| %>
          <tr>
            <td><%= menu.title %></td>
            <td>
              <% if menu.video.attached? %>
                <video width="320" height="240" controls>
                  <source src="<%= url_for(menu.video) %>" type="video/mp4">
                </video>
              <% end %>
            </td>
            <td><%= menu.difficulty_level.step %></td>
            <td>
              <%= link_to '詳細', menu_path(menu.id), class: 'btn btn-primary' %>
            </td>
            <td>
            <% if user_signed_in? && @favorites[menu.id].present? %>
              <%= link_to 'お気に入り解除する', favorite_path(@favorites[menu.id]), method: :delete, class: 'btn btn-danger favorite-button' %>
            <% elsif user_signed_in? %>
              <%= link_to 'お気に入りする', favorites_path(menu_id: menu.id), method: :post, class: 'btn btn-primary favorite-button' %>
            <% end %>



            </td>
          </tr>
        <% end %>
        </tbody>
    </table>
</div>



<%= javascript_pack_tag 'menu/index' %>