<div class="detail-container">
  <div class="detail-item">
    <div class="image-info">
      <h1><%= @user.name %>さんのプロフィール編集</h1>

      <%= form_with model: @user, local: true do |f| %>
        <div class="field">
          <%= f.label :name %>
          <%= f.text_field :name, class: 'form-control mb-3' %>
        </div>

        <div class="field">
          <%= f.label :email %>
          <%= f.email_field :email, class: 'form-control mb-3' %>
        </div>

        <div class="field">
          <%= f.label :profile_image, t('labels.profile_image'), class: "form-label" %>
          <%= f.file_field :profile_image, class: "form-input" %><br>
        </div>

        <div class="field">
          <%= f.label :password %>
          <%= f.password_field :password %>
        </div>

        <div class="field">
          <%= f.label :password_confirmation %>
          <%= f.password_field :password_confirmation %>
        </div>

        <%= f.submit "更新", class: "submit-button"%>
      <%end%>

      <%= link_to 'プロフィールに戻る', user_path(current_user.id), class: "submit-button" %>
    </div>
  </div>
</div>
