<div class="detail-container container mt-5">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <div class="card">
        <div class="card-header">
          <h1><%= @user.name %>さんのプロフィール編集</h1>
        </div>
        <div class="card-body">
          <%= form_with model: @user, local: true do |f| %>
            <div class="form-group">
              <%= f.label :name %>
              <%= f.text_field :name, class: 'form-control mb-3', placeholder: '名前' %>
            </div>

            <div class="form-group">
              <%= f.label :email %>
              <%= f.email_field :email, class: 'form-control mb-3', placeholder: 'パスワード' %>
            </div>

            <div class="form-group">
              <%= f.label :profile_image, t('labels.profile_image'), class: "form-label" %>
              <%= f.file_field :profile_image, class: "form-control" %>
            </div>

            <div class="form-group">
              <%= f.label :password %>
              <%= f.password_field :password, class: 'form-control mb-3', placeholder: 'パスワード' %>
            </div>

            <div class="form-group">
              <%= f.label :password_confirmation %>
              <%= f.password_field :password_confirmation, class: 'form-control mb-3', placeholder: 'パスワード' %>
            </div>

            <%= f.submit "更新", class: "btn btn-primary"%>
          <% end %>

          <%= link_to 'プロフィールに戻る', user_path(current_user.id), class: "btn btn-secondary mt-2" %>
        </div>
      </div>
    </div>
  </div>
</div>

