<div class="detail-container">
  <div class="detail-item">
    <div class="image-info">
      <h1><%= @user.name %>さんのページ</h1>
      <% if @user.profile_image.attached? %>
        <%= image_tag @user.profile_image.variant(resize: "200x200"), class: "profile-image" %>
      <% else %>
        <%= image_tag "default_profile_image.jpeg", alt: "デフォルトプロフィール画像", class: "profile-image", size: "200x200" %>
      <% end %>
      <% if @user == current_user %>
        <p>メールアドレス: <%= @user.email %></p>
      <% end %>
    </div>
  </div>
  
  <div class="actions">
    <%= link_to "一覧画面へ", menus_path, class: "submit-button submit-button-white" %>
    <%= link_to 'お気に入り一覧', user_favorites_path(@user), class: "submit-button submit-button-white" %>
    <% if @user == current_user %>
      <%= link_to "プロフィールの編集", edit_user_path, class: "submit-button submit-button-white" %>
    <% end %>
  </div>
</div>